body {
   background-color: aqua;
}

#bd {
color: rgb(0, 0, 0);
text-align: center;
font-family: verdana;
text-shadow : rgb(255, 255, 255) 3px 3px;
font-size: 30px;
}

header {
	height: 5rem;
	width: 100%;
	background-color: rgb(146, 146, 146);
	text-align: center;
	}
	
	*{
	margin: 0px;
	}

   #lorem {
      color: rgb(255, 255, 255);
      text-shadow: rgb(77, 77, 77) 3px 3px;
      font-family: verdana;
      font-size: 20px;
      }