
body{
	text-align: center;
	font-size: 15px;
	font-family: Verdana;
	color: white;
}

h4 {
	text-align: justify;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box-degrade {
	width: 100%;
	padding: 94px 0;
	
	background-image: linear-gradient(to left, blue, orangered, yellow, rgb(0, 255, 0), blue, orangered);
	background-size:500% 100%;
	animation: degrade-animado 5s infinite reverse;
}

@keyframes degrade-animado {
	0%{
		background-position-x: 0%;
	}
	100%{
		background-position-x: 100%;
	}
}